@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  margin: 0;padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 255, 232);
  color: rgb(7, 133, 15);
  font-family: 'Roboto Mono', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}


.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

.yt i{
  color:red;
}
.tw{
  color: #0bb4f8;
}
.fb{
  color: #3b5998;
}
.inner{
  position: relative;
  transform: translateY(170%);
  left: 45%;
  height: 20px;
  width: 20px;
  z-index: -100;
  background-color: #fff;
}


@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
